
<!DOCTYPE html>
<html>
<head>
  <title>Digi-Wanderers</title>

<!--   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css"> -->

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link rel="shortcut icon" type="image/jpg" href="https://cdn.mos.cms.futurecdn.net/EdFta36m4YcZcphdzwKQNT-650-80.jpg">

</head>

<body>

  <header class="header">
  <ul>
    <li class="cor-1"></li>
    <li class="cor-2"></li>
    <li class="cor-3"></li>
    <li class="cor-4"></li>
    <li class="cor-5"></li>
  </ul>
  </header>
<div class="wrap">
  

<nav class="menu">
  
  <ul>
    
    <li>
      
      <a href="/">Home</a>
      
    </li>
    
    <li>
      
      <a href="/blogs/new">About me</a>
      
    </li>
    
    <li>
      
      <a href="/blogs/Archive">Contact</a>
      
    </li>
    
    <li><a href="/auth/logout">Logout</a></li>
    
    <li><a href="/auth/login">Login</a></li>
    
  </ul>
  
  </nav>
  
    <aside class="sidebar">
      
      <div class="widget">
      
          <h2>Featured Events</h2>
      
<!--               <p>Top games to buy
                
                <br> maycoualmeida@gmail.com</p> -->
        
                <ul id="boi">
                  
                  <li>owifvnwoeb<img class="zero" src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></li>
                  
                          <br>
                  
                  <li>owifvnwoeb<img class="zero" src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></li>
                  
                          <br>
                  
                  <li>owifvnwoeb<img class="zero" src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></li>
                  
                          <br>
                  
                  <li>owifvnwoeb<img class="zero" src="https://images.pexels.com/photos/929831/pexels-photo-929831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></li>
                  
                </ul>
      
      </div>
      
      <div class="widget">
        
          <h2>Title</h2>
        
              <form action="/login" method="POST">
                
                <input type="text" name="username"><br>
                
                <input type="password" name="password"><br>
                
                <input type="submit" value="Login">
                
              </form>
        
      </div>
      
  </aside>