
<!DOCTYPE html>
<html>
<head>
  <title>Digi-Wanderers</title>

<!--   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css"> -->

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link rel="shortcut icon" type="image/jpg" href="https://cdn.mos.cms.futurecdn.net/EdFta36m4YcZcphdzwKQNT-650-80.jpg">

</head>

<body>

  <header class="header">
  <ul>
    <li class="cor-1"></li>
    <li class="cor-2"></li>
    <li class="cor-3"></li>
    <li class="cor-4"></li>
    <li class="cor-5"></li>
  </ul>
  </header>
<div class="wrap">
  

<nav class="menu">
  
  <ul>
    
    <li>
      
      <a href="/">Home</a>
      
    </li>
    
    <li>
      
      <a href="/blogs/new">Create Post</a>
      
    </li>
    
    <li>
      
      <a href="/blogs/Archive">Archive</a>
      
    </li>
    
    <li><a href="/logout">Logout</a></li>
    
    <li><a href="/login">Login</a></li>
    
  </ul>
  
  </nav>
  
    <aside class="sidebar">
      
      <div class="widget">
      
          <h2>Featured Events</h2>
      
<!--               <p>Top games to buy
                
                <br> maycoualmeida@gmail.com</p> -->
        
                <ul id="boi">
                  
                  <li>Asus Gaming<img class="zero" src="http://getwallpapers.com/wallpaper/full/3/f/5/61833.jpg"></li>
                  
                          <br>
                  
                  <li>Gaming For All<img class="zero" src="https://images.pexels.com/photos/929824/pexels-photo-929824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></li>
                  
                          <br>
                  
                  <li>Tech Reviews<img class="zero" src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></li>
                  
                          <br>
                  
                  <li>LAN Events<img class="zero" src="https://images.pexels.com/photos/929831/pexels-photo-929831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></li>
                  
                </ul>
      
      </div>
      
      <div class="widget">
        
          <h2>Title</h2>
        
             <? if(!currentUser){ ?>
          <button><a class="crow" href="/login">LogIn</a></button>
          <a class="mid"  href="/logout"><i class="power off icon"></i>LogOut</a>
          <? } else{ ?>
            <a class="ui item" href="#">Hey, <?= currentUser.username ?>!</a>
            <a class="ui item inverted red button"  href="/logout"><i class="power off icon"></i>LogOut</a>
          <? } ?>
        
      </div>
      
  </aside>
  
   <? if(error && error.length > 0){?>
            <div class="ui red message"><?= error ?></div>
            <? } ?>
            <? if(success && success.length > 0){?>
            <div class="ui floating message"><?= success ?></div>
            <? } ?>
            <div id="love-u">