
<? include ./partials/header ?>

<!-- <div class="ui main text container">

  <div class="ui huge header" style="text-align: center; color: lightskyblue" >

      💻Digi-Wanderers Everything Tech💻

  </div>

  <div style="margin-left: 7px;">

    <div class="stuff">


      <? blogs.forEach(function(blog) { ?>

        <? const postUrl = '/blogs/' + blog._id; ?>

        <div class="item">

            <a href="<?= postUrl ?>" class="image">

              <img src="<?= blog.imageUrl ?>" href="#">

            </a>

          <div class="content">

            <div class="header">

              <a href="<?= postUrl ?>">

                <?= blog.title ?>

              </a>

            </div>
            
            <div class="meta">

              <span>

                <?= blog.created.toDateString() ?>

              </span>

            </div>

            <div class="description">
              <p>

                <? if(blog.body.length > 250) { ?>

                  <?- blog.body.substring(0,250) ?>...

                <? } else { ?>

                  <?- blog.body ?>

                <? }; ?>         

              </p>

            </div>

            <div class="extra">

              <a class="ui small black icon button" href="<?= postUrl ?>" style="background-color: rgb(96, 66, 114); margin-left: 125px">

                Read More

                <i class="right chevron icon"></i>

              </a>

            </div>


          </div>

        </div>

      <? }); ?>

    </div>

  </div>

</div>
 -->

<? include ./partials/footer ?>

  
      <? blogs.forEach(function(blog) { ?>

        <? const postUrl = '/blogs/' + blog._id; ?>

<div class="blog" >
  
  <div class="stuff">
    
    <div class="post-info">
      
      Posted by Michael
      
    </div>
    
    <img src="<?= blog.imageUrl ?>" href="#">
    
    <h1><?= blog.title ?></h1>
    
    <hr>
   
    <div class="block">
      
    
    
        <p>
        
          <? if(blog.body.length > 250) { ?>

                  <?- blog.body.substring(0,250) ?>...

                <? } else { ?>

                  <?- blog.body ?>

                <? }; ?>  
      
        </p>
      
    </div>
    
    <a href="<?= postUrl ?>" class="continue-lendo">Read more →</a>
    
  </div>
  
</div>


    <? }); ?>
    